@media only screen and (min-width:701px) and (max-width:1300px){
    #sectionA{
        padding: 0% 0% 0% 10%;
        margin: 0px;
        display: flex;
        height: 350px;
        button{
            @include but
         }
    
        .A1,.A2{
            flex-basis: 50%;
        }
        .A1{
            h1{
                padding: 4% 14% 0% 0%;
                font-size:44px ;
                margin-bottom: 0;
            }
            p{
                padding: 2% 12% 2% 0%;
                font-size: 16px;
            }
        }
        .A2{
            position: relative;
        }
        .imgB{
            position: absolute;
            top: -20%;
            right: -15%;
            z-index: 0;
            width: 95%;
        }
        .imgA{
            position: absolute;
            top: -33%;
            right: -53%;
            z-index: -1;
            height: 120%;
            width: 160%;
        }
        .Amobile{
            display: none;
        }
    }
    
    #sectionB{
        padding: 0% 10% 4% 10%;
        background-color: $LightGrayBlue;
        h3{
            font-size: 35px;
        }
        .B1{
            padding: 4% 0 3% 1%;
            width: 80%;
        }
        .B2{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            div{
                flex-basis: 49%;
                margin: 0 1% 0 0%;
            }
        }
    }
    
    #sectionC{
        padding: 0% 10% 4% 10%;
        h3{
            font-size: 35px;
        }
        .C1{
            padding: 4% 0 2% 1%; 
            width: 50%;
        }
        .C2{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            div{
                flex-basis: 49%;
                margin: 0 1% 2% 0%;
                background:white;
                box-shadow: 0px 0px 5px rgb(209, 198, 198);
                p,h4{
                    padding-right: 7%;
                    padding-left: 5%;
                }
            }
            img{
                width: 100%;
                height: 200px;
            }
        }
    }
}