@media only screen and (min-width:701px) and (max-width:1300px){
    footer{
        background-color: $Darkblue;
        a{
            color: white;
            text-decoration: none;
            margin-right: 10px;
        }
        div.attribution{
            width: 100%;
            text-align: center;
            color: white;
        }
    }
    
    #footer{
        background-color: $Darkblue;
        padding: 3% 10% 4% 10%;
        display: flex;
        ul{
            list-style: none;
            .footlink{
                color: white; 
                text-decoration: none; 
            }
        }
    }
    
    #A{
        flex-basis: 20%;
        ul{
            display: flex;
            margin-left: -40px;
            margin-top: 55px;
        }
        li{
            padding: 0 5px 0 5px;
        }
    }
    
    button{
        @include but
     }
    
    #B,#C{
        flex-basis: 24%;
        ul{
            margin-top: 0px;
        }
        li{
            padding: 0px 0 22px 0;
        }
       
    }
    
    #D{
        flex-basis: 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: auto;
        button{
            margin-bottom: 25px;
        }
        p{
            color: white;
        }
    }
}